<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load file to read values from -->
	<context:property-placeholder
		location="classpath:cars.properties" />


	<!-- mechanic beans -->
	<bean id="bicycle-mechanic"
		class="com.utilities.mechanic.BicycleMechanic">
	</bean>

	<bean id="car-mechanic" class="com.utilities.mechanic.CarMechanic">
	</bean>

	<!-- vehicle beans -->
	<bean id="bicycle" class="com.utilities.vehicle.Bicycle">
		<property name="size" value="16" />
		<property name="mechanic" ref="bicycle-mechanic" />
	</bean>

	<bean id="car" class="com.utilities.vehicle.Car">
		<property name="model" value="${car1.model}" />
		<property name="mechanic" ref="car-mechanic" />
	</bean>

</beans>