<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="assistant"
		class="spring_core.assistant.BaseballCoachAssistant">
	</bean>

	<bean id="coach" class="spring_core.coach.BaseballCoach"
		init-method="initializeBean" destroy-method="destoryBean">
		<constructor-arg index="0" value="Joe Maddon" />
		<constructor-arg index="1" ref="assistant" />
	</bean>


</beans>